In [1]:
#Cleaning data although degree data is relatively clean with pandas 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
#pulling initial employment info 
employment_file = ("Resources\Employment Info 2002-2018.xlsx")

unemploy_info = pd.read_excel(employment_file)
unemploy_info.head()

,State,County,Unemployment_rate_2002,Unemployment_rate_2003,Unemployment_rate_2004,Unemployment_rate_2005,Unemployment_rate_2006,Unemployment_rate_2007,Unemployment_rate_2008,Unemployment_rate_2009,Unemployment_rate_2010,Unemployment_rate_2011,Unemployment_rate_2012,Unemployment_rate_2013,Unemployment_rate_2014,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017,Unemployment_rate_2018
0,US,United States,5.788149,5.9835,5.527962,5.112026,4.630434,4.622425,5.78865,9.251236,9.633887,8.951434,8.069576,7.374532,6.1674,5.282897,4.868823,4.354932,3.89528
1,OH,Ohio,5.800000,6.2000,6.300000,5.900000,5.400000,5.600000,6.60000,10.200000,10.300000,8.800000,7.400000,7.500000,5.8000,5.000000,5.000000,5.000000,4.50000
2,OH,Adams County,9.900000,10.0000,9.800000,8.500000,7.600000,7.700000,9.40000,14.600000,16.000000,14.300000,12.500000,12.700000,9.2000,7.900000,7.600000,7.200000,7.00000
3,OH,Allen County,6.600000,6.9000,6.800000,6.300000,6.100000,6.300000,7.50000,11.300000,10.700000,9.500000,7.700000,7.800000,5.8000,4.900000,5.000000,5.000000,4.50000
4,OH,Ashland County,6.400000,7.0000,7.300000,6.500000,5.500000,6.000000,7.60000,12.500000,11.900000,9.900000,8.000000,8.100000,6.0000,5.100000,5.100000,4.900000,4.60000

In [3]:
#renaming employment info columns 

unemploy_info = unemploy_info.rename(columns={
"Unemployment_rate_2002": "2002 Unemployment Percent",
"Unemployment_rate_2003": "2003 Unemployment Percent",
"Unemployment_rate_2004": "2004 Unemployment Percent",
"Unemployment_rate_2005": "2005 Unemployment Percent",
"Unemployment_rate_2006": "2006 Unemployment Percent",
"Unemployment_rate_2007": "2007 Unemployment Percent",
"Unemployment_rate_2008": "2008 Unemployment Percent",
"Unemployment_rate_2009": "2009 Unemployment Percent",
"Unemployment_rate_2010": "2010 Unemployment Percent",
"Unemployment_rate_2011": "2011 Unemployment Percent",
"Unemployment_rate_2012": "2012 Unemployment Percent",
"Unemployment_rate_2013": "2013 Unemployment Percent",
"Unemployment_rate_2014": "2014 Unemployment Percent",
"Unemployment_rate_2015": "2015 Unemployment Percent",
"Unemployment_rate_2016": "2016 Unemployment Percent",
"Unemployment_rate_2017": "2017 Unemployment Percent",
"Unemployment_rate_2018": "2018 Unemployment Percent"
})

unemploy_info.head()

,State,County,2002 Unemployment Percent,2003 Unemployment Percent,2004 Unemployment Percent,2005 Unemployment Percent,2006 Unemployment Percent,2007 Unemployment Percent,2008 Unemployment Percent,2009 Unemployment Percent,2010 Unemployment Percent,2011 Unemployment Percent,2012 Unemployment Percent,2013 Unemployment Percent,2014 Unemployment Percent,2015 Unemployment Percent,2016 Unemployment Percent,2017 Unemployment Percent,2018 Unemployment Percent
0,US,United States,5.788149,5.9835,5.527962,5.112026,4.630434,4.622425,5.78865,9.251236,9.633887,8.951434,8.069576,7.374532,6.1674,5.282897,4.868823,4.354932,3.89528
1,OH,Ohio,5.800000,6.2000,6.300000,5.900000,5.400000,5.600000,6.60000,10.200000,10.300000,8.800000,7.400000,7.500000,5.8000,5.000000,5.000000,5.000000,4.50000
2,OH,Adams County,9.900000,10.0000,9.800000,8.500000,7.600000,7.700000,9.40000,14.600000,16.000000,14.300000,12.500000,12.700000,9.2000,7.900000,7.600000,7.200000,7.00000
3,OH,Allen County,6.600000,6.9000,6.800000,6.300000,6.100000,6.300000,7.50000,11.300000,10.700000,9.500000,7.700000,7.800000,5.8000,4.900000,5.000000,5.000000,4.50000
4,OH,Ashland County,6.400000,7.0000,7.300000,6.500000,5.500000,6.000000,7.60000,12.500000,11.900000,9.900000,8.000000,8.100000,6.0000,5.100000,5.100000,4.900000,4.60000

In [4]:
#saving final unemployment info dataframe 

unemploy_info.to_excel("Resources/FinalUnemploymentInfo.xlsx", index=False)

In [5]:
#file path for initial data frame 

file = "Resources/2002 - 2019 Ohio Poverty - Median Income by County - SAIPESNC_11SEP21_12_11_11_34.csv"
inc_pov_df = pd.read_csv(file)
inc_pov_df.head()

,Year,State,County ID,State / County Name,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,All Ages in Poverty Count LB 90%,All Ages in Poverty Count UB 90%,90% Confidence Interval (All Ages in Poverty Count),All Ages in Poverty Percent,...,Under Age 5 in Poverty Count UB 90%,90% Confidence Interval (Under Age 5 in Poverty Count),Under Age 5 in Poverty Percent,Under Age 5 in Poverty Percent LB 90%,Under Age 5 in Poverty Percent UB 90%,90% Confidence Interval (Under Age 5 in Poverty Percent),Median Household Income in Dollars,Median Household Income in Dollars LB 90%,Median Household Income in Dollars UB 90%,90% Confidence Interval (Median Household Income in Dollars)
0,2019,0,0,United States,"320,118,791","39,490,096","39,248,096","39,732,096","39,248,096 to 39,732,096",12.3,...,"3,509,524","3,405,854 to 3,509,524",18.2,17.9,18.5,17.9 to 18.5,65712,"$65,594","$65,830","$65,594 to $65,830"
1,2018,0,0,United States,"319,184,033","41,852,315","41,619,366","42,085,264","41,619,366 to 42,085,264",13.1,...,"3,802,546","3,714,862 to 3,802,546",19.5,19.3,19.7,19.3 to 19.7,61937,"$61,843","$62,031","$61,843 to $62,031"
2,2017,0,0,United States,"317,741,588","42,583,651","42,342,619","42,824,683","42,342,619 to 42,824,683",13.4,...,"3,985,293","3,880,645 to 3,985,293",20.2,19.9,20.5,19.9 to 20.5,60336,"$60,250","$60,422","$60,250 to $60,422"
3,2016,0,0,United States,"315,165,470","44,268,996","44,022,086","44,515,906","44,022,086 to 44,515,906",14.0,...,"4,205,501","4,108,397 to 4,205,501",21.3,21.1,21.5,21.1 to 21.5,57617,"$57,502","$57,732","$57,502 to $57,732"
4,2015,0,0,United States,"313,476,400","46,153,077","45,878,016","46,428,138","45,878,016 to 46,428,138",14.7,...,"4,499,317","4,397,105 to 4,499,317",22.8,22.5,23.1,22.5 to 23.1,55775,"$55,690","$55,860","$55,690 to $55,860"

In [6]:
# renaming columns 

inc_pov_df = inc_pov_df.rename(columns={"Year": "Year", "State / County Name": "State and County", "All Ages in Poverty Percent": "Poverty Percentage", "Median Household Income in Dollars": "Median Household Income"})
# inc_pov_df.head()

In [7]:
#Grabbing needed poverty rate columns 

new_inc = inc_pov_df[["Year", "State", "County ID", "State and County", "Poverty Percentage", "Median Household Income"]]
new_inc.head()

,Year,State,County ID,State and County,Poverty Percentage,Median Household Income
0,2019,0,0,United States,12.3,65712
1,2018,0,0,United States,13.1,61937
2,2017,0,0,United States,13.4,60336
3,2016,0,0,United States,14.0,57617
4,2015,0,0,United States,14.7,55775

In [8]:
#Removing state and county ID as they are not needed

drop_new_inc = new_inc.drop(columns=["State", "County ID"])


drop_new_inc

      Year State and County  Poverty Percentage  Median Household Income
0     2019    United States                12.3                    65712
1     2018    United States                13.1                    61937
2     2017    United States                13.4                    60336
3     2016    United States                14.0                    57617
4     2015    United States                14.7                    55775
...    ...              ...                 ...                      ...
1615  2006   Wyandot County                 8.0                    44482
1616  2005   Wyandot County                 6.8                    43113
1617  2004   Wyandot County                 6.6                    42428
1618  2003   Wyandot County                 6.3                    40819
1619  2002   Wyandot County                 6.7                    39216

[1620 rows x 4 columns]

In [9]:
#saving final employment rate / median income file 

drop_new_inc.to_csv("Resources/FinalEmployment&Income.csv", index=False)

In [10]:
#file path for initial  degrees data frame 

file = "Resources/Degrees By Subject Clean.xlsx"

df = pd.read_excel(file)
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Sector,Institution,Discipline Area,Subject Field,Level of Degree or Certificate,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Community Colleges,Belmont Technical College,Arts & Humanities,Liberal and General Studies,Associate Degree,0,0,0,0,0,...,1,6,7,0,0,0,0,0,0,0
1,Community Colleges,Belmont Technical College,Business,Accounting,Associate Degree,8,16,8,14,14,...,10,8,11,0,0,0,0,0,0,0
2,Community Colleges,Belmont Technical College,Business,Accounting,Less than One-Year Award,0,0,0,0,0,...,2,0,6,0,0,0,0,0,0,0
3,Community Colleges,Belmont Technical College,Business,Accounting,One to less than Two-Year Award,2,2,2,0,3,...,0,0,0,0,0,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Administrative and Secretarial,Associate Degree,3,3,4,2,7,...,4,5,7,0,0,0,0,0,0,0

In [11]:
#dropping subject field as it is not needed for analysis 

df = df.drop (columns=["Subject Field"])
df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Community Colleges,Belmont Technical College,Arts & Humanities,Associate Degree,0,0,0,0,0,1,...,1,6,7,0,0,0,0,0,0,0
1,Community Colleges,Belmont Technical College,Business,Associate Degree,8,16,8,14,14,5,...,10,8,11,0,0,0,0,0,0,0
2,Community Colleges,Belmont Technical College,Business,Less than One-Year Award,0,0,0,0,0,1,...,2,0,6,0,0,0,0,0,0,0
3,Community Colleges,Belmont Technical College,Business,One to less than Two-Year Award,2,2,2,0,3,0,...,0,0,0,0,0,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Associate Degree,3,3,4,2,7,7,...,4,5,7,0,0,0,0,0,0,0

In [12]:
#drop rows if entire row is zero 

df = df.dropna(how="all")
df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Community Colleges,Belmont Technical College,Arts & Humanities,Associate Degree,0,0,0,0,0,1,...,1,6,7,0,0,0,0,0,0,0
1,Community Colleges,Belmont Technical College,Business,Associate Degree,8,16,8,14,14,5,...,10,8,11,0,0,0,0,0,0,0
2,Community Colleges,Belmont Technical College,Business,Less than One-Year Award,0,0,0,0,0,1,...,2,0,6,0,0,0,0,0,0,0
3,Community Colleges,Belmont Technical College,Business,One to less than Two-Year Award,2,2,2,0,3,0,...,0,0,0,0,0,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Associate Degree,3,3,4,2,7,7,...,4,5,7,0,0,0,0,0,0,0

In [13]:
#getting degree options to clean 

df["Level of Degree or Certificate"].value_counts()

Bachelor's Degree                               6400
Associate Degree                                5475
Master's Degree                                 2612
One to less than Two-Year Award                 1819
Less than One-Year Award                        1689
Doctoral Degree - Research|Scholarship           756
Post-Baccalaureate Certificate                   502
Technical Certificate                            437
Technical Short Term Certificate                 410
General Certificate                              261
General Short Term Certificate                   173
Post-Master's Certificate                        168
Doctoral Degree - Professional Practice          140
Two to less than Four-Year Award                  69
Doctoral Degree - Other                           13
First-professional certificate (post-degree)       4
Name: Level of Degree or Certificate, dtype: int64

In [14]:
#deleting rows that do not contain Bachelors or Masters
# df.columns

In [15]:
df.drop(df[df["Level of Degree or Certificate"] == "Associate Degree"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "One to less than Two-Year Award"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Less than One-Year Award"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Doctoral Degree - Research|Scholarship"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Post-Baccalaureate Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Technical Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Technical Short Term Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "General Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "General Short Term Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Post-Master's Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Doctoral Degree - Professional Practice"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Two to less than Four-Year Award"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Doctoral Degree - Other"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "First-professional certificate (post-degree)"].index, inplace=True)

df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1923,Private Not-for-Profit,ALLEGHENY WESLEYAN COLLEGE,Arts & Humanities,Bachelor's Degree,6,13,6,6,4,6,...,3,5,6,0,0,0,0,0,0,0
1924,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,19,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1925,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,8,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1926,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1927,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,2,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
#making sure I have degrees desired for analysis 
df["Level of Degree or Certificate"].value_counts()

Bachelor's Degree    6400
Master's Degree      2612
Name: Level of Degree or Certificate, dtype: int64

In [17]:
#Checking if there are errors in Discipline Area 

df["Discipline Area"].value_counts()

Arts & Humanities                2068
Social & Behavioral Sciences     1318
Education                        1297
Natural Science & Mathematics    1232
Business                         1168
Health                            899
Engineering                       531
Services                          345
Unclassified                       76
Law                                63
Trades and Repair Technicians      15
Name: Discipline Area, dtype: int64

Nothing to clean in discipline area

In [18]:
#checking for variances in Institution name 

df["Institution"].value_counts()

Ohio State University                                 444
University of Cincinnati                              399
University of Akron                                   373
Bowling Green State University                        359
Ohio University                                       341
                                                     ...
CHAMBERLAIN UNIVERSITY-OHIO                             1
THE CHRIST COLLEGE OF NURSING AND HEALTH SCIENCES       1
HONDROS COLLEGE                                         1
ASHLAND UNIVERSITY DWIGHT SCHAR COLLEGE OF NURSING      1
HONDROS COLLEGE OF NURSING                              1
Name: Institution, Length: 144, dtype: int64

In [19]:
#replacing St Joseph institution name

df["Institution"].replace({"COLLEGE OF MOUNT ST. JOSEPH" : "COLLEGE OF MOUNT ST JOSEPH"})
df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1923,Private Not-for-Profit,ALLEGHENY WESLEYAN COLLEGE,Arts & Humanities,Bachelor's Degree,6,13,6,6,4,6,...,3,5,6,0,0,0,0,0,0,0
1924,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,19,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1925,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,8,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1926,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1927,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,2,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
#adding a "Total degrees" column that will sum the total degrees given from 2002 - 2018 

df["Total Degrees"] = df.sum(axis= 1)
df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Total Degrees
1923,Private Not-for-Profit,ALLEGHENY WESLEYAN COLLEGE,Arts & Humanities,Bachelor's Degree,6,13,6,6,4,6,...,5,6,0,0,0,0,0,0,0,60
1924,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,19,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22
1925,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,8,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
1926,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1927,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,2,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [21]:
#saving final cleaned degree data 

df.to_excel ("Resources/FinalDegreeData.xlsx" , index=False)

In [22]:
#pulling in final cleaned files 

file1 = ("Resources\FinalDegreeData.xlsx")

df1 = pd.read_excel(file1)
df1.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Total Degrees
0,Private Not-for-Profit,ALLEGHENY WESLEYAN COLLEGE,Arts & Humanities,Bachelor's Degree,6,13,6,6,4,6,...,5,6,0,0,0,0,0,0,0,60
1,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,19,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22
2,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,8,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
3,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,2,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [23]:
file2 = ("Resources\FinalEmployment&Income.csv")

df2 = pd.read_csv(file2)
df2.head()

   Year State and County  Poverty Percentage  Median Household Income
0  2019    United States                12.3                    65712
1  2018    United States                13.1                    61937
2  2017    United States                13.4                    60336
3  2016    United States                14.0                    57617
4  2015    United States                14.7                    55775

In [24]:
file3 = ("Resources\FinalUnemploymentInfo.xlsx")

df3 = pd.read_excel(file3)
df3.head()

,State,County,2002 Unemployment Percent,2003 Unemployment Percent,2004 Unemployment Percent,2005 Unemployment Percent,2006 Unemployment Percent,2007 Unemployment Percent,2008 Unemployment Percent,2009 Unemployment Percent,2010 Unemployment Percent,2011 Unemployment Percent,2012 Unemployment Percent,2013 Unemployment Percent,2014 Unemployment Percent,2015 Unemployment Percent,2016 Unemployment Percent,2017 Unemployment Percent,2018 Unemployment Percent
0,US,United States,5.788149,5.9835,5.527962,5.112026,4.630434,4.622425,5.78865,9.251236,9.633887,8.951434,8.069576,7.374532,6.1674,5.282897,4.868823,4.354932,3.89528
1,OH,Ohio,5.800000,6.2000,6.300000,5.900000,5.400000,5.600000,6.60000,10.200000,10.300000,8.800000,7.400000,7.500000,5.8000,5.000000,5.000000,5.000000,4.50000
2,OH,Adams County,9.900000,10.0000,9.800000,8.500000,7.600000,7.700000,9.40000,14.600000,16.000000,14.300000,12.500000,12.700000,9.2000,7.900000,7.600000,7.200000,7.00000
3,OH,Allen County,6.600000,6.9000,6.800000,6.300000,6.100000,6.300000,7.50000,11.300000,10.700000,9.500000,7.700000,7.800000,5.8000,4.900000,5.000000,5.000000,4.50000
4,OH,Ashland County,6.400000,7.0000,7.300000,6.500000,5.500000,6.000000,7.60000,12.500000,11.900000,9.900000,8.000000,8.100000,6.0000,5.100000,5.100000,4.900000,4.60000