In [2]:
#Cleaning data although degree data is relatively clean with pandas 
import pandas as pd

In [24]:
#file path for initial data frame 

file = "Resources/2002 - 2019 Ohio Poverty - Median Income by County - SAIPESNC_11SEP21_12_11_11_34.csv"
inc_pov_df = pd.read_csv(file)
inc_pov_df.head()

,Year,State,County ID,State / County Name,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,All Ages in Poverty Count LB 90%,All Ages in Poverty Count UB 90%,90% Confidence Interval (All Ages in Poverty Count),All Ages in Poverty Percent,...,Under Age 5 in Poverty Count UB 90%,90% Confidence Interval (Under Age 5 in Poverty Count),Under Age 5 in Poverty Percent,Under Age 5 in Poverty Percent LB 90%,Under Age 5 in Poverty Percent UB 90%,90% Confidence Interval (Under Age 5 in Poverty Percent),Median Household Income in Dollars,Median Household Income in Dollars LB 90%,Median Household Income in Dollars UB 90%,90% Confidence Interval (Median Household Income in Dollars)
0,2019,0,0,United States,"320,118,791","39,490,096","39,248,096","39,732,096","39,248,096 to 39,732,096",12.3,...,"3,509,524","3,405,854 to 3,509,524",18.2,17.9,18.5,17.9 to 18.5,"$65,712","$65,594","$65,830","$65,594 to $65,830"
1,2018,0,0,United States,"319,184,033","41,852,315","41,619,366","42,085,264","41,619,366 to 42,085,264",13.1,...,"3,802,546","3,714,862 to 3,802,546",19.5,19.3,19.7,19.3 to 19.7,"$61,937","$61,843","$62,031","$61,843 to $62,031"
2,2017,0,0,United States,"317,741,588","42,583,651","42,342,619","42,824,683","42,342,619 to 42,824,683",13.4,...,"3,985,293","3,880,645 to 3,985,293",20.2,19.9,20.5,19.9 to 20.5,"$60,336","$60,250","$60,422","$60,250 to $60,422"
3,2016,0,0,United States,"315,165,470","44,268,996","44,022,086","44,515,906","44,022,086 to 44,515,906",14.0,...,"4,205,501","4,108,397 to 4,205,501",21.3,21.1,21.5,21.1 to 21.5,"$57,617","$57,502","$57,732","$57,502 to $57,732"
4,2015,0,0,United States,"313,476,400","46,153,077","45,878,016","46,428,138","45,878,016 to 46,428,138",14.7,...,"4,499,317","4,397,105 to 4,499,317",22.8,22.5,23.1,22.5 to 23.1,"$55,775","$55,690","$55,860","$55,690 to $55,860"

In [4]:
#file path for initial data frame 

file = "Resources/Degrees By Subject Clean.xlsx"

df = pd.read_excel(file)
df.head()

C:\Users\Antwon\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Sector,Institution,Discipline Area,Subject Field,Level of Degree or Certificate,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Community Colleges,Belmont Technical College,Arts & Humanities,Liberal and General Studies,Associate Degree,0,0,0,0,0,...,1,6,7,0,0,0,0,0,0,0
1,Community Colleges,Belmont Technical College,Business,Accounting,Associate Degree,8,16,8,14,14,...,10,8,11,0,0,0,0,0,0,0
2,Community Colleges,Belmont Technical College,Business,Accounting,Less than One-Year Award,0,0,0,0,0,...,2,0,6,0,0,0,0,0,0,0
3,Community Colleges,Belmont Technical College,Business,Accounting,One to less than Two-Year Award,2,2,2,0,3,...,0,0,0,0,0,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Administrative and Secretarial,Associate Degree,3,3,4,2,7,...,4,5,7,0,0,0,0,0,0,0

In [5]:
#dropping subject field as it is not needed for analysis 

df = df.drop (columns=["Subject Field"])
df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Community Colleges,Belmont Technical College,Arts & Humanities,Associate Degree,0,0,0,0,0,1,...,1,6,7,0,0,0,0,0,0,0
1,Community Colleges,Belmont Technical College,Business,Associate Degree,8,16,8,14,14,5,...,10,8,11,0,0,0,0,0,0,0
2,Community Colleges,Belmont Technical College,Business,Less than One-Year Award,0,0,0,0,0,1,...,2,0,6,0,0,0,0,0,0,0
3,Community Colleges,Belmont Technical College,Business,One to less than Two-Year Award,2,2,2,0,3,0,...,0,0,0,0,0,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Associate Degree,3,3,4,2,7,7,...,4,5,7,0,0,0,0,0,0,0

In [6]:
#drop rows if entire row is zero 

df = df.dropna(how="all")
df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Community Colleges,Belmont Technical College,Arts & Humanities,Associate Degree,0,0,0,0,0,1,...,1,6,7,0,0,0,0,0,0,0
1,Community Colleges,Belmont Technical College,Business,Associate Degree,8,16,8,14,14,5,...,10,8,11,0,0,0,0,0,0,0
2,Community Colleges,Belmont Technical College,Business,Less than One-Year Award,0,0,0,0,0,1,...,2,0,6,0,0,0,0,0,0,0
3,Community Colleges,Belmont Technical College,Business,One to less than Two-Year Award,2,2,2,0,3,0,...,0,0,0,0,0,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Associate Degree,3,3,4,2,7,7,...,4,5,7,0,0,0,0,0,0,0

In [7]:
#getting degree options to clean 

df["Level of Degree or Certificate"].value_counts()

Bachelor's Degree                               6400
Associate Degree                                5475
Master's Degree                                 2612
One to less than Two-Year Award                 1819
Less than One-Year Award                        1689
Doctoral Degree - Research|Scholarship           756
Post-Baccalaureate Certificate                   502
Technical Certificate                            437
Technical Short Term Certificate                 410
General Certificate                              261
General Short Term Certificate                   173
Post-Master's Certificate                        168
Doctoral Degree - Professional Practice          140
Two to less than Four-Year Award                  69
Doctoral Degree - Other                           13
First-professional certificate (post-degree)       4
Name: Level of Degree or Certificate, dtype: int64

In [22]:
#deleting rows that do not contain Bachelors
# df.columns

In [9]:
df.drop(df[df["Level of Degree or Certificate"] == "Associate Degree"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "One to less than Two-Year Award"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Less than One-Year Award"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Doctoral Degree - Research|Scholarship"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Post-Baccalaureate Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Technical Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Technical Short Term Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "General Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "General Short Term Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Post-Master's Certificate"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Doctoral Degree - Professional Practice"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Two to less than Four-Year Award"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "Doctoral Degree - Other"].index, inplace=True)
df.drop(df[df["Level of Degree or Certificate"] == "First-professional certificate (post-degree)"].index, inplace=True)

df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1923,Private Not-for-Profit,ALLEGHENY WESLEYAN COLLEGE,Arts & Humanities,Bachelor's Degree,6,13,6,6,4,6,...,3,5,6,0,0,0,0,0,0,0
1924,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,19,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1925,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,8,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1926,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1927,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,2,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#making sure I have degrees desired for analysis 
df["Level of Degree or Certificate"].value_counts()

Bachelor's Degree    6400
Master's Degree      2612
Name: Level of Degree or Certificate, dtype: int64

In [18]:
#Checking if there are errors in Discipline Area 

df["Discipline Area"].value_counts()

Arts & Humanities                2068
Social & Behavioral Sciences     1318
Education                        1297
Natural Science & Mathematics    1232
Business                         1168
Health                            899
Engineering                       531
Services                          345
Unclassified                       76
Law                                63
Trades and Repair Technicians      15
Name: Discipline Area, dtype: int64

Nothing to clean in discipline area

In [17]:
#checking for variances in Institution name 

df["Institution"].value_counts()

Ohio State University                                   444
University of Cincinnati                                399
University of Akron                                     373
Bowling Green State University                          359
Ohio University                                         341
                                                       ...
GOOD SAMARITAN COLLEGE OF NURSING AND HEALTH SCIENCE      1
CHAMBERLAIN UNIVERSITY-OHIO                               1
AULTMAN COLLEGE OF NURSING AND HEALTH SCIENCES            1
CHAMBERLAIN COLLEGE OF NURSINGâ€“COLUMBUS CAMPUS            1
CHAMBERLAIN COLLEGE OF NURSING-OHIO                       1
Name: Institution, Length: 144, dtype: int64

In [21]:
#replacing St Joseph institution name

df["Institution"].replace({"COLLEGE OF MOUNT ST. JOSEPH" : "COLLEGE OF MOUNT ST JOSEPH"})
df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1923,Private Not-for-Profit,ALLEGHENY WESLEYAN COLLEGE,Arts & Humanities,Bachelor's Degree,6,13,6,6,4,6,...,3,5,6,0,0,0,0,0,0,0
1924,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,19,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1925,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,8,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1926,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1927,Private Not-for-Profit,ANTIOCH COLLEGE,Arts & Humanities,Bachelor's Degree,2,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
#saving final cleaned degree data 

df.to_excel ("Resources/FinalDegreeData.xlsx" , index=False)