In [14]:
#Cleaning data although degree data is relatively clean with pandas 
import pandas as pd

In [15]:
#file path for initial data frame 

file = "Resources/2002 - 2019 Ohio Poverty - Median Income by County - SAIPESNC_11SEP21_12_11_11_34.csv"
inc_pov_df = pd.read_csv(file)
inc_pov_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/2002 - 2019 Ohio Poverty - Median Income by County - SAIPESNC_11SEP21_12_11_11_34.csv'

In [9]:
#file path for initial data frame 

file = "Resources/Degrees By Subject Clean.xlsx"

df = pd.read_excel(file)
df.head()

/Users/jassjones/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Sector,Institution,Discipline Area,Subject Field,Level of Degree or Certificate,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Community Colleges,Belmont Technical College,Arts & Humanities,Liberal and General Studies,Associate Degree,0,0,0,0,0,...,1,6,7,0,0,0,0,0,0,0
1,Community Colleges,Belmont Technical College,Business,Accounting,Associate Degree,8,16,8,14,14,...,10,8,11,0,0,0,0,0,0,0
2,Community Colleges,Belmont Technical College,Business,Accounting,Less than One-Year Award,0,0,0,0,0,...,2,0,6,0,0,0,0,0,0,0
3,Community Colleges,Belmont Technical College,Business,Accounting,One to less than Two-Year Award,2,2,2,0,3,...,0,0,0,0,0,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Administrative and Secretarial,Associate Degree,3,3,4,2,7,...,4,5,7,0,0,0,0,0,0,0

In [10]:
#dropping subject field as it is not needed for analysis 

df = df.drop (columns=["Subject Field"])
df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Community Colleges,Belmont Technical College,Arts & Humanities,Associate Degree,0,0,0,0,0,1,...,1,6,7,0,0,0,0,0,0,0
1,Community Colleges,Belmont Technical College,Business,Associate Degree,8,16,8,14,14,5,...,10,8,11,0,0,0,0,0,0,0
2,Community Colleges,Belmont Technical College,Business,Less than One-Year Award,0,0,0,0,0,1,...,2,0,6,0,0,0,0,0,0,0
3,Community Colleges,Belmont Technical College,Business,One to less than Two-Year Award,2,2,2,0,3,0,...,0,0,0,0,0,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Associate Degree,3,3,4,2,7,7,...,4,5,7,0,0,0,0,0,0,0

In [11]:
#drop rows if entire row is zero 

df = df.dropna(how="all")
df.head()

,Sector,Institution,Discipline Area,Level of Degree or Certificate,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Community Colleges,Belmont Technical College,Arts & Humanities,Associate Degree,0,0,0,0,0,1,...,1,6,7,0,0,0,0,0,0,0
1,Community Colleges,Belmont Technical College,Business,Associate Degree,8,16,8,14,14,5,...,10,8,11,0,0,0,0,0,0,0
2,Community Colleges,Belmont Technical College,Business,Less than One-Year Award,0,0,0,0,0,1,...,2,0,6,0,0,0,0,0,0,0
3,Community Colleges,Belmont Technical College,Business,One to less than Two-Year Award,2,2,2,0,3,0,...,0,0,0,0,0,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Associate Degree,3,3,4,2,7,7,...,4,5,7,0,0,0,0,0,0,0